/*
 *  Cartoon v@REL_VERSION@
 *
 *  Cartoon-like animation of background images in jQuery
 *  http://tbull.org/projects/jquery-cartoon/
 *
 *  Copyright (C) 2011 by Roland Bluethgen (a.k.a. T-Bull) <tbull (at) tbull (dot) org>
 *  Released under the ISC license <http://opensource.org/licenses/ISC>
 *
 *  Date: @REL_DATE@
 */
